*{
    box-sizing: border-box;
}

a{
    color: inherit;
}
     

html,body{
    margin: 0;
    padding: 0;
}

/* Home banner */

#banner-home{
 width: 100%;
  background: url('/img/Banner.png');
  background-color: powderblue;
}



.botoes-home{
    background-color:pink;
    height: 100px;
    width: 100%;
}

.botoes-home img { 
    max-width: 20px; 
}

.botoes-icone{
 background-color: white;
 width: 30px;
 height: 30px;
}


/* * Footer - Inicio  */

 footer{
    width: 100%;
    background: #0F1570 ;
    position: absolute;
	bottom: 0;
    position: fixed;

}
.iconesRede img{
    height: 50px;
}

.text-footer{
    font-size: 12px;
}

