*{
    box-sizing: border-box;
}

a { color: inherit; } 

html,body{
    margin: 0;
    padding: 0;
}

div#header{
    display: flex;
    justify-content: space-between; 
    align-items: center;  
}

button#BotaoLogin{
    border-color: #0044FF;
    background-color: #ffffff;
    border-radius: 10vh;
    width: 15vh;
    height: 5vh;
    color: #1100FF;
}

div#Banner{
    display: flex;
    background-image: url(img/Banner.png);   
    background-size: cover;
    align-items: center;
    font-size: 3vh;
    font-family: Arial, Helvetica, sans-serif;
    height: 70vh;
    
}

/* Footer - Inicio */




 footer{
     width: 100%;
    background: #0F1570 ;
    position: fixed;

}
.iconesRede img{
    height: 50px;
}

.copy{
    font-size: 12px;
}

