.card-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
}

.card-name{
    padding: 5px;
    width: 1150px;
    margin-bottom: 15px;
    text-align: start;
}


.container-cards{
    display: flex;
   justify-content: space-around;
   width: 1200px; 
}
.item-cards{
    width: 260px;
}

.h3-card{
    color:#04329B;
    font-size: 20px;
    margin-left: 10px;
    font-weight: bold;
}
.card-name{
    display: flex;
    justify-content: start;
}
.body-card{
    background:#FFFF;
    color: #FFFFFF;
}

.card-title{
 color: #0F1570;
 font-family: sans-serif;
 font-size: 24px;
 text-align: center; 
}

hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 5px solid;
}

.hr-card{
    color: #0F1570;
    height: 5px;
    
}

.card-text{
    color: #0F1570;
    font-size: 20px;
    text-align: left;
    font-family: sans-serif;
}

.card-btn{
    margin-top: 20px;
    background:#FFFFFF;
    color:#EC0058;
}

