.card-section{

    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
    
}

.card-name{
    padding: 5px;
    width: 1150px;
    margin-bottom: 15px;
    text-align: start;
}

.card-img{
    display:flex;

}
.card-img img{
    align-self: center;
    margin:auto;
    width: 258px;
    height: 178.16px;
}


.container-cards{
    display: flex;
   justify-content: space-around;
   width: 1200px; 
   flex-wrap: wrap;
}
.item-cards{
    width: 260px;
    margin-top: 30px;
}

.h3-card{
    color:#04329B;
    font-size: 20px;
    margin-left: 10px;
    font-weight: bold;
    font-family: sans-serif;
}
.card-name{
    display: flex;
    justify-content: start;
}
.body-card{
    background:#FFFF;
    color: #FFFFFF;
}

.card-title{
 color: #0F1570;
 font-family: sans-serif;
 font-size: 22px;
 text-align: center; 
}

hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 5px solid;
}

.hr-card{
    color: #0F1570;
    height: 5px;
    
}

.card-text{
    color: #0F1570;
    font-size: 19px;
    text-align: left;
    font-family: sans-serif;
}

.card-btn{
    margin-top: 20px;
    background:#FFFFFF;
    color:#EC0058;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    box-shadow: 0.1em 0.1em #EEEEEE;
}

.btn {    
    color: #04329B !important;    
    border-color: #04329B !important;
}

.icone-cards{
    margin-right: 1rem;
}

