


/* Header Home - Inicio */
header{
    height:6.5rem ;  
    width: 100%;
}

.logo-header{
    width: 10rem;
    margin-left: 64px;
}

.menu-header-home{
    width: 1200px;
    margin: 0 auto;
	padding: 30px 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}

.btn-cadastro-header{
    background:#EC0058;
    border-color:#DFDFDF;
    border-radius: 1.5rem;
    color: #ffffff;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    text-align: center;
    vertical-align: middle;
    font-size: 1.2rem;
    border: 1px solid transparent;
    margin-right: 30px;
    
}

@media(max-width: 600px){
    .btn-cadastro-header{
        
        font-size: 15px;
    }
}



.btn-entrar-header{
    background:#fff;
    border-color:#BDCEFC;
    border-radius: 1.5rem;
    color: #0F1570;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    text-align: center;
    vertical-align: middle;
    font-size: 1.2rem;
    border: 1px solid ;
    margin-right: 30px;
    
}
@media(max-width: 600px){
    .btn-entrar-header{    
        
        font-size: 15px;
    }
}


.container-fluid, .container-sm, .container-md, .container-lg, .container-xl {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }



/* Header Home - Fim */

