.botoes{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #0F1570 ;
    color: #fff;
    justify-content: space-between;
    
}

.container-fluid, .container-sm, .container-md, .container-lg, .container-xl {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }

  

