body, html{
  height: 100%;
}

hr{
  color: grey;
}

/*fim das configurações gerais*/

.botoes{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #0F1570 ;
    color: #fff;
    justify-content: space-evenly;
    height: 12rem;
    max-width: 100%;
    margin-bottom: 5rem;
    
}

.container-fluid, .container-sm, .container-md, .container-lg, .container-xl {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }

 

  .banner{
      max-width: 100%;
      width: 100%;
  }

  @media(max-width:610px){
      .min{
          max-width: 60%;
      }
  }

 /*fim da estilização home*/

 /*estilização cadastro*/


 .form-row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -5px;
    margin-left: -5px;
    justify-content: center;
    flex-direction: column;
  }

  .form-group {
    margin-bottom: 1rem;
  }

  .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col,
.col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm,
.col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md,
.col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg,
.col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl,
.col-xl-auto {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

.form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.75rem;
      
  }

  .fundo-forms{
    background-color: snow;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 0.5rem;
    max-width: 45rem;
    margin-top: 7rem;
    margin-bottom: 10rem;
  }

  .fundo-cadastro{
    display: flex;
    background-color: #DFDFDF;
    justify-content: center   ;
    
  }

  .btn-primary {
    color: #fff;
    background-color: #04329B;
    border-color: #04329B;
  }

  .btn {
    display: inline-block;
    font-weight: 400;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    user-select: none;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .75rem;
    margin-top: 1.5rem;

  }

  .logo{
    margin-bottom: 2.5rem; 
  }

  .subtitulo{
    color: #04329B;
    font-family: sans-serif;
    font-weight: 1.5rem;
  }

  .redirect{
    color: #04329B !important;
    
  }

  /* Fim da estilização do cadastro */


  /* Estilização SOBRE */
  h1{
    font-size: 2.5rem;
    color: #04329B;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-bottom: 1rem;
  }

  .img-ilustrativa{
    margin-top: 1.5rem;
    display: flex;
    margin-bottom: 2.5rem;
    justify-content: center;
  }

  .txt-sobre{
    font-size: 1.5rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #3D3F84;
    margin-bottom: 1.5rem;
  }

  .pseudo-footer{
    margin-bottom: 2.5rem;
  }

  /* Inicio Pagina Perfil */

.container-perfil{
  width: 100%;
  height: 900px;
  background: #DFDFDF;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center
}

.box-perfil {
 height: 750px;
 background: #fff;
 border-radius: 22px;
   }
input[type="file"]{
  display: none;
}

.label-up{
  color: #ffffff;
  height: 100px;
  width: 100px;
  background: #DFDFDF;
  margin-top: 20px;
  border-radius: 10px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-can{
  width: 40px;
  height: 40px;
  margin-right: 5px
}
   .up-img-perfil{
    display: flex;
    justify-content: center;
    align-items: center;
   }
  
   .forms-perfil{
     margin-top: 50px;
   }
.input-box-perfil{
  margin: 18px;
}
#inputSelect{
  width: 235px;
  margin-left: 15px; 
}

.form-inline-perfil{
  margin: 18px;
}

#endereco-number{
  width: 200px;
  margin-right: 10px;
}

#endereco-estado{
  width: 170px;
  margin-left: 10px;
}

#endereco-cidade{
width: 250px;
}

.end-perfil{
margin-top: 50px;
}
.p-perfil{
  display: flex;
  justify-content: center;
}

.p-btn{
  display: flex;
  justify-content: center;
  padding: 5px;
}
.btn-perfil{
  text-align: center;
  color: #ffffff;
   background:#EC0058;
    border-radius: 80px;
    height: 37px;
    width: 170px;
    border-style: none;
}
  /* Fim página perfil */

  .form-grande {
    display: block;
    width: 100%;
    height: 9rem;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.75rem;
      
  }

  .form-div{
    
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      margin-right: -5px;
      margin-left: -5px;
      justify-content: center;
     
  }

  .mini-footer{
    display: flex;
    justify-content: center;
  }

  .foto-usuario{
    display: flex;
    justify-content: center;
    margin-bottom: 2.5rem; 
  }

  
  

  