.botoes{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #0F1570 ;
    color: #fff;
    justify-content: space-evenly;
    height: 12rem;
    max-width: 100%;
    margin-bottom: 5rem;
    
}

.container-fluid, .container-sm, .container-md, .container-lg, .container-xl {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }

 

  .banner{
      max-width: 100%;
      width: 100%;
  }

  @media(max-width:610px){
      .min{
          max-width: 60%;
      }
  }

 


  

  